* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #fef5c8;
    font-family: "Archivo Black", sans-serif;}

.title1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 60px;
    height: 100px;
    color: #d55d63;
    font-family: "Archivo Black", sans-serif;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 60px;
    font-size: 40px;
    list-style: none;
}

.menu a {
    text-decoration: none;
    transition: all 200ms ease-in-out;
    display: inline-block;
}

.menu a:hover{
    transform: scale(1.2);
}

.menu li a {
    color: inherit;      /* Herda a cor do elemento pai */
    text-decoration: none; /* Remove o sublinhado */
}

.button {
    padding: 10px 20px;
    border-radius: 10px;
    color: #d55d63;
    
}

.s1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Archivo Black", sans-serif;
    font-size: 60px;
    color: #2c6b74;
    margin-bottom: 20px;
}

.description {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
}

li:hover{
    color: #f22b56;
}

.menu-toggle {
    display: none; /* Esconde o botão em telas grandes */
}

/* 🔹 Menu sempre visível em telas grandes */
.menu {
    display: flex;
    gap: 10px;
}

@media (max-width: 768px) {

    .title1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 40px;
    width: auto ;
    color: #d55d63;
    font-family: "Archivo Black", sans-serif;
    }

    .menu-toggle {
        display: block;
        font-size: 32px; /* Aumenta o tamanho do ícone */
        background: none;
        border: none;
        cursor: pointer;
        color: #2c6b74; /* Azul petróleo da paleta */
        padding: 10px;
        margin: 10px;
        align-self: flex-end;
    }


    .menu {
        display: none;
        flex-direction: column;
        padding: 0;
        margin: 0;
        background-color: #fef5c8; /* Cor do fundo combinando */
        border: 2px solid #2c6b74;
        border-radius: 8px;
    }

    .menu.show {
        display: flex;
    }

    .menu li {
        padding: 12px;
        border-bottom: 1px solid #ccc;
        text-align: center;
    }

    .menu li:last-child {
        border-bottom: none;
    }

    .menu a {
        color: #013750; /* Azul escuro para contraste */
        text-decoration: none;
        font-weight: bold;
    }

    .menu a:hover {
        color: #d55d63; /* Rosa para destaque ao passar o mouse */
    }
}
