* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #fef5c8;
    font-family: "Archivo Black", sans-serif;}

.title1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 60px;
    height: 100px;
    color: #d55d63;
    font-family: "Archivo Black", sans-serif;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 60px;
    font-size: 40px;
    list-style: none;
}

.menu a {
    text-decoration: none;
    transition: all 200ms ease-in-out;
    display: inline-block;
}

.menu a:hover{
    transform: scale(1.2);
}

.menu li a {
    color: inherit;      /* Herda a cor do elemento pai */
    text-decoration: none; /* Remove o sublinhado */
}

.button {
    padding: 10px 20px;
    border-radius: 10px;
    color: #d55d63;
    
}

li:hover{
    color: #f22b56;
}

.cards-container {
  display: flex;          /* Coloca os cards lado a lado */
  justify-content: center;/* Centraliza horizontalmente */
  gap: 30px;              /* Espaço entre os cards */
  margin-top: 40px;
  flex-wrap: wrap;        /* Se a tela for pequena, quebra para baixo */
}

.card {
  width: 280px;
  background: #fff8e1;
  border: 4px solid #d26969;
  border-radius: 15px;
  box-shadow: 4px 6px 12px rgba(0,0,0,0.2);
  overflow: hidden;
  text-align: center;
  margin: 20px;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card-top {
  position: relative;
  background: #ffeb99;
  padding: 20px;
}

.pokemon-img {
  width: 160px;
  border-radius: 10px;
}

.element-img {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
}

.card-info {
  padding: 15px;
  background: #fff;
  border-top: 2px solid #d26969;
}

.card-info h2 {
  margin: 0;
  color: #d26969;
}

.card-info p {
  margin: 5px 0;
  font-size: 14px;
}